@font-face {
  font-family: 'Daniel';
  src: url("/fonts/daniel/daniel.ttf") format("truetype");
  font-weight: 400; }

@font-face {
  font-family: 'Daniel';
  src: url("/fonts/daniel/danielbd.ttf") format("truetype");
  font-weight: 700; }

@font-face {
  font-family: 'Daniel';
  src: url("/fonts/daniel/danielbk.ttf") format("truetype");
  font-weight: 900; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif; }

p, li {
  font-family: "Poppins", sans-serif; }

li {
  margin-bottom: 0.5rem; }

.container {
  position: relative; }

.px-custom {
  padding-inline: 2rem; }

.pt-8 {
  padding-top: 8rem; }

.py-6 {
  padding-block: 6rem; }

.py-8 {
  padding-block: 8rem; }

.mb-6 {
  margin-bottom: 6rem; }

.icon {
  width: 60px; }

.text-accent {
  color: #ffc105; }

.tagline {
  font-family: "Daniel", cursive;
  font-weight: 700;
  font-style: italic; }

.neumorphism {
  background: linear-gradient(145deg, #dcdce0, #fff);
  border-radius: 10px;
  box-shadow: 20px 20px 60px #cfcfd4, -20px -20px 60px #fff; }

.justify-items-center {
  justify-items: center; }

.bg-primary {
  background-color: #004080; }

.bg-primary--light {
  background-color: #bdecfa; }

.bg-accent {
  background-color: #ffc105; }

.text-primary {
  color: #004080; }

.bg-primary {
  background-color: #004080 !important; }

.text-primary--light {
  color: #bdecfa; }

.text-primary--dark {
  color: #09304e; }

.text-secondary {
  color: #0a1b24 !important; }

.gradient-bg {
  background: linear-gradient(270deg, #0a1b24 30%, #004080 100%);
  color: white; }
  .gradient-bg .btn-primary--outline_none {
    color: white; }
    .gradient-bg .btn-primary--outline_none i {
      color: white; }
  .gradient-bg .neumorphism {
    box-shadow: 10px 10px 30px #d4d4d8, -10px -10px 30px #fff; }

.gradient-bg-card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background: linear-gradient(135deg, #004080 60%, #0a1b24 100%);
  color: white;
  padding: 1.2rem; }
  .gradient-bg-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); }

.py-custom {
  padding-block: 5rem; }

hr.bg-accent {
  height: 4px;
  opacity: 1;
  width: 80%;
  margin-inline: auto;
  border-radius: 50%;
  border: none; }

.attributions {
  opacity: 0.5; }

.img-profile {
  width: 4rem;
  /* aspect-ratio: 1; */ }

hr.section-divider {
  border: none;
  background: black;
  background: radial-gradient(circle, black 0%, white 100%);
  height: 5px;
  opacity: 0.5;
  width: 25%;
  box-shadow: 0px 2px 10px rgba(34, 34, 34, 0.3);
  /* Subtle shadow for smooth look */
  border-radius: 50%; }

html {
  scroll-behavior: smooth;
  scroll-padding-top: 12vh; }
  @media (max-width: 425px) {
    html {
      font-size: 15px; } }
body {
  overflow-x: hidden;
  padding-top: 10vh;
  font-family: "Poppins", sans-serif; }

[data-aos] {
  max-width: 100%; }

@media (max-width: 768px) {
  [data-aos] {
    transform: none; } }

a {
  text-decoration: none;
  color: #09304e; }
  a:hover {
    text-decoration: none; }

img {
  max-width: 100%;
  height: auto;
  /* display: block; */ }

@font-face {
  font-family: 'Daniel';
  src: url("/fonts/daniel/daniel.ttf") format("truetype");
  font-weight: 400; }

@font-face {
  font-family: 'Daniel';
  src: url("/fonts/daniel/danielbd.ttf") format("truetype");
  font-weight: 700; }

@font-face {
  font-family: 'Daniel';
  src: url("/fonts/daniel/danielbk.ttf") format("truetype");
  font-weight: 900; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif; }

p, li {
  font-family: "Poppins", sans-serif; }

li {
  margin-bottom: 0.5rem; }

.navbar {
  height: 10vh;
  background-color: #bdecfa !important;
  box-shadow: 0px 3px 10px 0px #1a8cff; }
  @media (min-width: 768px) {
    .navbar {
      height: calc(10vh + 2vh); } }
  .navbar .navbar-brand img {
    width: clamp(40px, 60px, 12vw); }
  .navbar .navbar-brand .brand-name .brand {
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.4; }
    @media (max-width: 768px) {
      .navbar .navbar-brand .brand-name .brand {
        font-size: 1.2rem; } }
  .navbar .navbar-brand .brand-name .tagline {
    font-size: 1.3rem;
    font-weight: 700; }
    @media (max-width: 768px) {
      .navbar .navbar-brand .brand-name .tagline {
        font-size: 1.2rem; } }
  .navbar .navbar-toggler {
    border: none; }
  .navbar .navbar-collapse {
    background-color: #bdecfa !important; }
    @media (max-width: 768px) {
      .navbar .navbar-collapse {
        box-shadow: 0px 3px 10px 0px #1a8cff;
        position: absolute;
        top: calc(10vh - 1vh);
        left: 0;
        right: 0;
        padding-block: 1rem; } }
  .navbar .nav-item {
    font-size: 1.1rem;
    letter-spacing: 1px; }
    @media (max-width: 991px) {
      .navbar .nav-item {
        font-size: 1rem; } }
    .navbar .nav-item .dropdown-menu {
      min-width: fit-content;
      background-color: #e6f2ff;
      padding-inline: 1rem; }
      .navbar .nav-item .dropdown-menu li {
        padding-block: 0.5rem; }
    .navbar .nav-item .nav-link,
    .navbar .nav-item .dropdown-item {
      font-family: "Roboto", sans-serif;
      padding: 0;
      color: #004080; }
    @media (max-width: 991px) {
      .navbar .nav-item {
        text-align: right; } }
.dropdown-item.active,
.dropdown-item:active {
  background-color: transparent !important;
  color: #004080 !important; }

.footer {
  background-color: #bdecfa;
  padding: 3rem 0;
  position: relative;
  text-align: center; }
  .footer .footer-logo .logo-img {
    max-width: 80px;
    margin-bottom: 20px; }
  @media (max-width: 991px) {
    .footer .nav {
      flex-direction: column; } }
  .footer .nav .nav-item {
    text-align: center; }
  .footer .nav-link {
    color: #9e7700;
    margin: 0 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: color 0.3s ease; }
    .footer .nav-link:hover {
      color: #0a1b24; }
  .footer .social-icons .social-link {
    color: #9e7700;
    margin: 0 10px;
    font-size: 24px;
    transition: color 0.3s ease, transform 0.3s ease; }
    .footer .social-icons .social-link:hover {
      color: #fff;
      transform: scale(1.2); }
  .footer .footer-copyright {
    margin-top: 20px; }
    .footer .footer-copyright i {
      color: #ffc105; }
    .footer .footer-copyright a {
      color: #9e7700; }
      .footer .footer-copyright a:hover {
        text-decoration: underline; }

.btn {
  padding: 0.5em 1em;
  border-radius: 50px;
  font-size: 1rem;
  transition: all 0.3s ease;
  text-align: center; }

.btn-primary {
  background: linear-gradient(135deg, #4da6ff, #0073e6);
  border-color: #1a8cff;
  color: #fff; }
  .btn-primary:hover {
    background-color: #007af5;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-1px); }
  .btn-primary:focus-visible {
    outline: 2px solid #66b3ff;
    outline-offset: 4px; }
  .btn-primary:active {
    background-color: #0073e6;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
    transform: translateY(1px); }

.btn-primary--outline {
  background-color: transparent;
  color: #1a8cff;
  border: 2px solid #1a8cff; }
  .btn-primary--outline:hover {
    background: linear-gradient(135deg, #4da6ff, #0073e6);
    color: #fff; }
  .btn-primary--outline_none {
    border: none;
    color: #004080; }
    .btn-primary--outline_none:hover {
      outline: 2px solid #1a8cff;
      outline-offset: 2px; }
  .btn-primary--outline:hover {
    background-color: #007af5;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-1px); }
  .btn-primary--outline:focus-visible {
    outline: 2px solid #66b3ff;
    outline-offset: 4px; }
  .btn-primary--outline:active {
    background-color: #0073e6;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
    transform: translateY(1px); }

.btn-secondary {
  background: linear-gradient(135deg, #3695c4, #205874);
  border-color: #0a1b24;
  color: #fff; }
  .btn-secondary:hover {
    background-color: #236180;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-1px); }
  .btn-secondary:focus-visible {
    outline: 2px solid #47a0cd;
    outline-offset: 4px; }
  .btn-secondary:active {
    background-color: #205874;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
    transform: translateY(1px); }

.btn-secondary--outline {
  background-color: transparent;
  color: #0a1b24;
  border: 2px solid #0a1b24; }
  .btn-secondary--outline:hover {
    background-color: #0a1b24;
    color: #fff; }
  .btn-secondary--outline:hover {
    background-color: #020608;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-1px); }
  .btn-secondary--outline:focus-visible {
    outline: 2px solid #1a4960;
    outline-offset: 4px; }
  .btn-secondary--outline:active {
    background-color: black;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
    transform: translateY(1px); }

.btn-accent {
  background: #ffc105;
  color: #2b2b2b;
  border-color: #ffc105; }
  .btn-accent:hover {
    background-color: #e0a800;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-1px); }
  .btn-accent:focus-visible {
    outline: 2px solid #ffd452;
    outline-offset: 4px; }
  .btn-accent:active {
    background-color: #d19d00;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
    transform: translateY(1px); }

.btn-light {
  background-color: #f8fbfc;
  border-color: #f8fbfc;
  color: #2b2b2b; }
  .btn-light:hover {
    background-color: #e0ecf0;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-1px); }
  .btn-light:focus-visible {
    outline: 2px solid white;
    outline-offset: 4px; }
  .btn-light:active {
    background-color: #d6e5ea;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
    transform: translateY(1px); }

.fancy-button {
  /* Add fancy hover effects */
  position: relative;
  overflow: hidden; }
  .fancy-button:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 300%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    transform: translateX(-50%) scaleX(0);
    transition: transform 0.5s ease;
    z-index: 0; }
  .fancy-button:hover:before {
    transform: translateX(-50%) scaleX(1); }
  .fancy-button:hover {
    color: #004080; }
  .fancy-button span {
    position: relative;
    z-index: 1; }

.hero {
  min-height: calc(100vh - 10vh); }
  @media (min-width: 991px) {
    .hero {
      padding-block: 10vh; } }
  .hero .content {
    padding-block: calc(10vh - 90%); }
    .hero .content .subtitle {
      font-size: 1.25rem;
      /* 1rem base size + a little scaling */ }
    .hero .content .tagline {
      font-size: 1.5rem;
      /* 1.1rem base size + a little scaling */
      line-height: 1.5; }
  .hero .carousel .carousel-inner {
    /* Set a fixed height */
    height: calc(calc(100vh - 10vh) /2.5); }
    @media (min-width: 768px) {
      .hero .carousel .carousel-inner {
        height: 400px;
        border-radius: 10px; } }
    .hero .carousel .carousel-inner .carousel-item {
      height: calc(calc(100vh - 10vh) /2.5); }
      @media (min-width: 768px) {
        .hero .carousel .carousel-inner .carousel-item {
          height: 400px; } }
      .hero .carousel .carousel-inner .carousel-item .carousel-image {
        height: calc(calc(100vh - 10vh) /2.5);
        /* Make sure the image fills the height */
        object-fit: cover;
        /* Preserve aspect ratio and cover the area */ }
        @media (min-width: 768px) {
          .hero .carousel .carousel-inner .carousel-item .carousel-image {
            border-radius: 0;
            height: 400px; } }
      .hero .carousel .carousel-inner .carousel-item .carousel-caption {
        background-color: rgba(0, 64, 128, 0.7); }
        .hero .carousel .carousel-inner .carousel-item .carousel-caption h5 {
          margin-bottom: 0; }
  .hero .carousel .carousel-indicators {
    bottom: -20px;
    /* Adjust position of the dots */ }
  .hero-desc .title {
    color: #004080; }

.clientele {
  color: #0a1b24; }
  @media (max-width: 425px) {
    .clientele .container {
      padding: 0 1rem; } }
  .clientele .title {
    color: #004080; }
  .clientele .subtitle {
    color: #9e7700; }
  .clientele .desc {
    line-height: 1.7; }
  .clientele .beneficiary-card {
    display: block;
    cursor: pointer;
    background: #0e2a3b;
    background: linear-gradient(135deg, #004080 60%, #0a1b24 100%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color: white;
    padding: 0.3rem;
    text-align: center;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-inline: auto; }
    .clientele .beneficiary-card:hover {
      transform: translateY(-10px);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5); }
    @media (max-width: 425px) {
      .clientele .beneficiary-card {
        width: 37vw;
        height: 37vw; } }
    .clientele .beneficiary-card i {
      color: #e8ba30;
      font-size: clamp(2.5rem, 4vw, 3rem); }
    .clientele .beneficiary-card p {
      color: #f8fbfc;
      text-align: center;
      margin-top: 5px;
      font-size: clamp(0.9rem, 4vw, 1rem);
      letter-spacing: normal; }
      .clientele .beneficiary-card p:hover {
        color: #ffda6b; }
      @media (min-width: 768px) {
        .clientele .beneficiary-card p {
          font-size: 1.2rem; } }
.clientele-brief {
  position: relative; }
  .clientele-brief > div:nth-of-type(odd) {
    background-color: #bdecfa;
    color: #004080;
    padding: 10px; }
  .clientele-brief .title {
    font-weight: bold;
    display: flex;
    align-items: center; }
    .clientele-brief .title i {
      color: #ffc105;
      margin-right: 1rem;
      font-size: 1.5rem; }
  .clientele-brief .image {
    margin-inline: auto;
    display: block;
    border-radius: 10px; }
    @media (min-width: 991px) {
      .clientele-brief .image {
        width: 80%; } }
  .clientele-brief .btn-row i {
    background-color: transparent;
    color: #ffc105;
    font-size: 1.3rem; }
  @media (max-width: 768px) {
    .clientele-brief .btn {
      width: 100%; } }
.evolution-section {
  position: relative;
  background: linear-gradient(to bottom right, #bdecfa, #f8fbfc);
  padding: 9rem 0; }
  .evolution-section::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background: url("/images/wave.svg") no-repeat bottom;
    background-size: cover;
    z-index: 1; }
  .evolution-section .icon-image {
    max-width: 100px;
    margin-top: 1rem; }
  .evolution-section .vertical-divider {
    height: 100%;
    width: 4px;
    background: #9e7700;
    border-radius: 50px; }
  .evolution-section .vision-mission-section ul li {
    display: flex;
    align-items: center;
    gap: 10px; }
    .evolution-section .vision-mission-section ul li i {
      color: #9e7700; }

.why-espeople {
  background: linear-gradient(to right, #0a1b24, #004080);
  animation: gradient-shift 5s infinite;
  color: #fff; }

@keyframes gradient-shift {
  0% {
    background-position: 0% 50%; }
  100% {
    background-position: 100% 50%; } }
  .why-espeople .section-heading {
    border-bottom: 2px solid #ffc105;
    display: inline-block;
    margin-bottom: 1rem; }
  .why-espeople .custom-list {
    list-style: none;
    padding-left: 0; }
    .why-espeople .custom-list li {
      margin-bottom: 1rem; }
      .why-espeople .custom-list li span {
        font-weight: bold;
        color: #ffc105; }
  .why-espeople .highlight-text {
    font-weight: bold;
    font-size: 1.2rem;
    font-style: italic; }
  .why-espeople .highlight-title {
    font-size: 1.4rem;
    margin-top: 1rem; }
  .why-espeople .quote {
    color: #ffc105;
    margin-top: 2rem;
    font-family: "Daniel", cursive; }
  .why-espeople img {
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); }
    .why-espeople img:hover {
      transform: scale(1.05);
      transition: all 0.3s ease; }

.about-section {
  background-color: #fffceb; }
  .about-section .image-content {
    display: flex;
    justify-content: center; }
    .about-section .image-content .image-wrapper {
      position: relative;
      background-color: #bdecfa;
      padding: 1rem;
      clip-path: polygon(50% 0%, 100% 35%, 82% 100%, 18% 100%, 0% 35%);
      width: 300px; }
      @media (min-width: 768px) {
        .about-section .image-content .image-wrapper {
          transform: rotate(-10deg); } }
blockquote {
  background-color: #bdecfa;
  border-left: 5px solid #007bff;
  padding: 1.5rem;
  border-radius: 0.5rem; }
  @media (max-width: 576px) {
    blockquote {
      font-size: 1.2rem; } }
  blockquote .text {
    font-weight: 500; }
  blockquote .blockquote-footer {
    color: #004080; }
  blockquote .subtext {
    font-size: 1.1rem; }

.card-horizontal {
  padding: 0.5rem;
  transition: transform 0.2s; }
  .card-horizontal:hover {
    transform: scale(1.05); }
  .card-horizontal .desc .title {
    font-weight: bold; }

.cards-section {
  background: #004080; }
  .cards-section .card-custom {
    border-radius: 10px;
    color: #bdecfa;
    background: #004080;
    box-shadow: inset 9px 9px 18px #002c58, inset -9px -9px 18px #0054a8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease; }
    .cards-section .card-custom:hover {
      transform: translateY(-10px); }
    .cards-section .card-custom .icon {
      font-size: 1.5rem; }
    .cards-section .card-custom img {
      width: 80px;
      aspect-ratio: 1; }
    .cards-section .card-custom .subheading {
      font-weight: 500;
      font-size: 1.2rem; }
    .cards-section .card-custom .desc {
      font-size: 0.9rem; }
      @media (max-width: 768px) {
        .cards-section .card-custom .desc {
          display: none; } }
    .cards-section .card-custom .benefits {
      list-style: none;
      padding: 0;
      margin: 0; }
      .cards-section .card-custom .benefits li {
        position: relative;
        padding-left: 2rem;
        margin-bottom: 1rem; }
        .cards-section .card-custom .benefits li::before {
          content: "";
          display: inline-block;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 24px;
          height: 24px;
          border-radius: 50%;
          background: url(/images/tick.svg) no-repeat center/contain;
          mask: url("/images/tick.svg") no-repeat center/contain;
          -webkit-mask: url("/images/tick.svg") no-repeat center/contain;
          background-color: #bdecfa !important; }

.downloads {
  padding: 20px;
  background-color: #f8f9fa; }
  .downloads .download-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .downloads .download-container .download-item {
      flex: 1 1 calc(50% - 10px);
      margin: 5px; }
      .downloads .download-container .download-item a {
        display: flex;
        align-items: center;
        padding: 10px;
        background-color: #ffffff;
        border: 1px solid #ced4da;
        border-radius: 4px;
        text-decoration: none;
        color: #333;
        transition: background-color 0.2s; }
        .downloads .download-container .download-item a:hover {
          background-color: #e9ecef; }
        .downloads .download-container .download-item a i {
          margin-right: 10px; }
  @media (max-width: 768px) {
    .downloads .download-item {
      flex: 1 1 100%; } }
.contact-section .contact-left-bg {
  background: #004080 url(/images/contact-us-bg.jpg) no-repeat center/cover;
  border-radius: 25px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #0a1b24;
  box-shadow: inset  20px 20px 60px #0a1b24, inset -20px -20px 60px #0a1b24; }

.contact-section .contact-form {
  height: 100%; }
