@import './abstracts/index';
@import './base/index';
@import './layout/index';
@import './components/index';
@import './pages/index';
@import './themes/index';
@import './vendors/index';

body {
  // background-color: darkcyan;
}

.contact-section {
  .contact-left-bg {
    background: url(/images/contact-us-bg.jpg) no-repeat center/cover;
    // background-blend-mode: overlay;
    border-radius: 25px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #0a1b24;
    box-shadow: inset 20px 20px 60px #0a1b24,
                inset -20px -20px 60px #0a1b24;
  }

  .contact-form {
    height: 100%;

  }
}