@import '../abstracts/variables';

.navbar {
    height: $navbar-height;

    .navbar-brand {
        img {
            width: clamp(50px, 60px, 12vw);
        }

        .brand-name {
            font-size: min(0.8rem, 1rem);
        }
    }

    .navbar-toggler {
        border: none;
    }

    .navbar-collapse {
        @media(max-width:768px) {
            position: absolute;
            top: $navbar-height;
            left: 0;
            right: 0;
        }
    }

    // .navbar-toggler-icon {
    //     background-image: url('hamburger-icon.svg');
    // }
    .nav-item {

        .nav-link,
        .dropdown-item {
            color: $primary-clr;
        }

        @media(max-width:991px) {
            text-align: right;
        }
    }
}