@import '../abstracts/variables';

.navbar {
    height: $navbar-height;
    background-color: $primary-clr--light !important;
    box-shadow: 0px 3px 10px 0px rgb(26, 140, 255);
    @media(min-width:768px) {
        height: calc(#{$navbar-height} + 2vh);
    }

    .navbar-brand {
        flex: 1 0 25%;
        img {
            // width: clamp(100px, 120px, 50vw);
            width: 50%;
            @media (max-width:425px) {
                width: 70%;
            }
        }

        .brand-name {
            .brand {
                font-size: 1.3rem;
                font-weight: bold;
                line-height: 1.4;
                @media(max-width:768px) {
                    font-size: 1.2rem;
                }
            }

            .tagline{
                font-size: 1.3rem;
                font-weight: 700;
                @media(max-width:768px) {
                    font-size: 1.2rem;
                }
            }
        }
    }

    .navbar-toggler {
        border: none;
    }

    .navbar-collapse {
        background-color: $primary-clr--light !important;
        
        @media(max-width:768px) {
            box-shadow: 0px 3px 10px 0px rgb(26, 140, 255);
            position: absolute;
            top: calc(#{$navbar-height} - 1vh);
            left: 0;
            right: 0;
            padding-block: 1rem;
            // height: 100vh;
        }
    }

    .nav-item {
        font-size: 1.1rem;
        letter-spacing: 1px;
        // padding-block: 1rem;

        @media(max-width:991px) {
            font-size: 1rem;
        }

        // font-weight: 700;
        .dropdown-menu {
            min-width: fit-content;
            background-color: lighten($primary-clr, 70%);
            padding-inline: 1rem;
            li {
                padding-block: 0.5rem;
            }
        }

        .nav-link,
        .dropdown-item {
        font-family: $font-roboto;

            padding: 0;
            color: $primary-clr;
        }


        @media(max-width:991px) {
            text-align: right;
        }
    }
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: transparent !important;
    color: $primary-clr !important;
}