@import '../abstracts/variables';

.navbar {
    height: $navbar-height;

    .navbar-brand {
        img {
            width: clamp(50px, 60px, 12vw);
        }

        .brand-name {
            // font-size: min(1rem, 1.1rem);
            h6{
                font-size: 1.5rem;
            }
            em{
                font-weight: bold;
                font-family: $font-daniel;
            }
        }
    }

    .navbar-toggler {
        border: none;
    }

    .navbar-collapse {
        @media(max-width:768px) {
            position: absolute;
            top: $navbar-height;
            left: 0;
            right: 0;
        }
    }

    // .navbar-toggler-icon {
    //     background-image: url('hamburger-icon.svg');
    // }
    .nav-item {
        .dropdown-menu{
            min-width: fit-content;
            background-color: lighten($primary-clr, 70%);
        }

        .nav-link,
        .dropdown-item {
            color: $primary-clr;
        }

        @media(max-width:991px) {
            text-align: right;
        }
    }
}