@import '../abstracts/variables';

html {
    scroll-behavior: smooth;
    scroll-padding-top:12vh;
    @media(max-width:425px) {
        font-size: 15px;
    }
}

body {
    overflow-x: hidden;
    // scroll-padding: map-get($sizes, 600)
    padding-top: $navbar-height;
    font-family: $font-poppins;
}

[data-aos] {
    // transform-origin: center; // Ensure animation originates within the visible viewport
    max-width: 100%; // Prevent overflowing elements
}

@media (max-width: 768px) {
    [data-aos] {
        transform: none; // Minimize aggressive animations for smaller screens
    }
}


a {
    text-decoration: none;
    color: $primary-clr--dark;

    &:hover {

        text-decoration: none;
    }
}

img {
    max-width: 100%;
    height: auto;
    /* display: block; */
}

