@import '../abstracts/variables';

html {
    scroll-behavior: smooth;
    // font-size: 17px;
    letter-spacing: 0.1em;
    line-height: 1.5;
    @media(max-width:425px) {
        font-size: 14px;
    }
}

body {
    overflow-x: hidden;
    // scroll-padding: map-get($sizes, 600)
    padding-top: $navbar-height;
    font-family: $font-body;
}
p{

    line-height: 1.6;
}
[data-aos] {
    transform-origin: center; // Ensure animation originates within the visible viewport
    max-width: 100%; // Prevent overflowing elements
}

@media (max-width: 768px) {
    [data-aos] {
        transform: none; // Minimize aggressive animations for smaller screens
    }
}

// h1 {
//     line-height: 1.3 !important;
// }



// h4 {
//     line-height: 1.7;
// }

li {
    font-size: 1.1rem;
    // line-height: 1.6rem;
}

a {
    text-decoration: none;
    color: $primary-clr--dark;

    &:hover {

        text-decoration: underline;
    }
}

img {
    max-width: 100%;
    height: auto;
    /* display: block; */
}

// .fa, .fab, .fas{
//     color: $accent-clr;
// }