@font-face {
    font-family: 'Daniel';
    src: url('/fonts/daniel/daniel.ttf') format('truetype');
    font-weight: 400; // Regular weight
  }
  
  @font-face {
    font-family: 'Daniel';
    src: url('/fonts/daniel/danielbd.ttf') format('truetype');
    font-weight: 700; // Bold weight
  }
  
  @font-face {
    font-family: 'Daniel';
    src: url('/fonts/daniel/danielbk.ttf') format('truetype');
    font-weight: 900; // Black weight (heaviest)
  }
  $font-lato: 'Lato', sans-serif;
  $font-daniel: 'Daniel', cursive;
  $font-open-sans: "Open Sans", sans-serif;
  $font-poppins: "Poppins", sans-serif;
  $font-roboto: "Roboto", sans-serif;

  
  // @mixin heading-style($size, $weight, $spacing: 0.1em) {
  //   font-family: "Roboto", sans-serif;
  //   font-size: $size;
  //   font-weight: $weight;
  //   letter-spacing: $spacing;
  //   font-optical-sizing: auto;
  //   line-height: 1.3; // Adjust for readability
  // }

  h1, h2, h3, h4, h5, h6 {
    font-family: $font-roboto;
  }
  p,li{
    // letter-spacing: 0.05em;
    // line-height: 1.4;
    font-family: $font-poppins;
  }
  li{
    margin-bottom: 0.5rem;
  }

