// Colors
// Primary
$hue-primary: 210;
$saturation-primary: 100%;
$lightness-primary: 25%;
$color-primary: hsl($hue-primary, $saturation-primary, $lightness-primary);

// Secondary
$hue-secondary:200;
$saturation-secondary: 57%;
$lightness-secondary: 9%;
$color-secondary: hsl($hue-secondary, $saturation-secondary, $lightness-secondary);

// Accent
$hue-accent: 45;
$saturation-accent: 100%;
$lightness-accent: 51%;
$color-accent: hsl($hue-accent, $saturation-accent, $lightness-accent);

$primary-clr: #004080;
$primary-clr: hsl(210, 100%, 25%);
$secondary-clr: #0a1b24;
$secondary-clr: hsl(200, 57%, 9%);
$accent-clr: hsl(45, 100%, 51%);
$accent-clr--dark: hsl(45, 100%, 31%);


$primary-clr--light: hsla(194, 86%, 86%, 1);
$primary-clr--dark: hsla(206, 79%, 17%, 1);

$light-clr: hsla(195, 33%, 98%, 1);
$charcoal: hsla(198, 18%, 29%, 1);
$white: #fff;
$black: #000;
$dark-clr: hsl(0, 0%, 17%);
$text-dark: hsl(240, 29%, 07%);
$text-light-clr: hsl(0, 0%, 100%);


// cards
$card-dark: #dcdce0;
$card-shadow-light: #dcdce0;
$card-shadow-dark: #cfcfd4;


// Typography

$base-unit: 0.25rem;
$sizes: (); // An empty map to store the size values

@for $i from 1 through 32 {
  $size: $i * 25;
  $size-value: $base-unit * $i;

  // Store the sizes in the map
  $sizes: map-merge($sizes, ($size: $size-value));
}
$navbar-height: 10vh;


// card Variables  

// Box Shadow Variables  
$box-shadow-light: rgba(0, 0, 0, 0.2);  // Light shadow for base cards  
$box-shadow-dark: rgba(0, 0, 0, 0.3);   // Darker shadow for hover effect  
$box-shadow-white: rgba(255, 255, 255, 0.7); // White shadow for neumorphism  

// Gradient Background Variables for Cards  
$card-odd-bg: linear-gradient(135deg, $primary-clr 60%, $secondary-clr 100%);  
$card-even-bg: linear-gradient(135deg, $secondary-clr 60%, $primary-clr 100%);  

// Additional Box Shadow Variables (if needed)  
$box-shadow-hover: 12px 12px 20px $box-shadow-dark, -12px -12px 20px $box-shadow-white; // Box shadow on hover