// Colors
$hue-primary: 210;
$saturation-primary: 100%;
$lightness-primary: 25%;
$color-primary: hsl($hue-primary, $saturation-primary, $lightness-primary);

$primary-clr: hsl(210, 100%, 25%);
$secondary-clr: hsl(200, 57%, 9%);
$hue-secondary:200;
$saturation-secondary: 57%;
$lightness-secondary: 9%;
$color-secondary: hsl($hue-secondary, $saturation-secondary, $lightness-secondary);

$accent-clr: hsl(45, 100%, 51%);

$primary-clr--light: hsla(194, 86%, 86%, 1);
$primary-clr--dark: hsla(206, 79%, 17%, 1);

$light-clr: hsla(195, 33%, 98%, 1);
$charcoal: hsla(198, 18%, 29%, 1);
$white: #fff;
$black: #000;
$dark-clr: hsl(0, 0%, 17%);
$text-dark: hsl(240, 29%, 07%);


// cards
$card-dark: #dcdce0;
$card-shadow-light: #dcdce0;
$card-shadow-dark: #cfcfd4;


// Typography
$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Lato', sans-serif;
$base-font-size: 16px;
$base-line-height: 1.5;


$base-unit: 0.25rem;
$sizes: (); // An empty map to store the size values

@for $i from 1 through 32 {
  $size: $i * 25;
  $size-value: $base-unit * $i;

  // Store the sizes in the map
  $sizes: map-merge($sizes, ($size: $size-value));
}
$navbar-height: 10vh