// Colors
// $secondary-clr: #2C2C2C;
$white: #fff;
$black: #000;
$dark-clr: #2C2C2C;
$text-dark: hsl(240, 29%, 07%);


/* SCSS HSL */
$primary-clr: hsla(194, 86%, 36%, 1);
$secondary-clr: hsla(200, 57%, 9%, 1);
$light-clr: hsla(195, 33%, 98%, 1);
$primary-clr--dark: hsla(206, 79%, 17%, 1);
$charcoal: hsla(198, 18%, 29%, 1);
$accent-clr: hsl(45, 100%, 51%);

$primary-clr: hsla(210, 100%, 25%, 1);
$accent-clr: hsla(36, 100%, 50%, 1);

// cards
$card-dark: #dcdce0;
$card-shadow-light: #dcdce0;
$card-shadow-dark: #cfcfd4;


// Typography
$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Lato', sans-serif;
$base-font-size: 16px;
$base-line-height: 1.5;


$base-unit: 0.25rem;
$sizes: (); // An empty map to store the size values

@for $i from 1 through 32 {
  $size: $i * 25;
  $size-value: $base-unit * $i;

  // Store the sizes in the map
  $sizes: map-merge($sizes, ($size: $size-value));
}
$navbar-height: 10vh