<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode site.Language.Lang }}"
  dir="{{ or site.Language.LanguageDirection `ltr` }}">

<head>
  {{ partial "head.html" . }}
</head>

<body>
  {{ partial "header.html" . }}
  <main>
    {{ block "main" . }}{{ end }}
  </main>
  {{ partial "footer.html" . }}

  <!-- Chat widget -->
<!-- <script>
  (function (w, d, s, u) {
  w.gbwawc = {
  url: u,
  options: {
  waId: "+91 9840167444",
  siteName: "TenSketch",
  siteTag: "Usually replies in an hour ",
  siteLogo: "https://assets.gallabox.com/gb-home/wa-chat-widget/bot-logo-2.png",
  widgetPosition: "RIGHT",
  triggerMessage: "",
  welcomeMessage: "Welcome to TenSketch. ",
  brandColor: "#25D366",
  customQuestion: "Would like to know about website development pricing ",
  startChatBtnTxt: "Chat now",
  version: "v2",
  widgetPositionMarginX: "12",
  widgetPositionMarginY: "12",
  },
  };
  var h = d.getElementsByTagName(s)[0],
  j = d.createElement(s);
  j.async = true;
  j.src = u + "/whatsapp-widget.min.js?_=" + "2024-11-01 08";
  h.parentNode.insertBefore(j, h);
  })(window, document, "script", "https://waw.gallabox.com");
  </script> -->
  <!-- End Chat widget -->
</body>

</html>