{{ define "main" }}
<!-- Section 1- Hero -->
<section class="hero d-flex align-items-center py-8 py-md-5 px-4 px-md-0">
  <div class="container text-center text-md-start">
    <div class="row align-items-center justify-content-between">
      <div class="col-md-5 mt-5 mt-md-0">
        <h1 class="display-5">Is your business struggling to achieve its' goals and to energize your
          team?</h1>
        <p class="mt-3">At ESPeople, we energize and synergize people. We integrate your teams' full collective
          potentials and optimize your management & leadership towards mission accomplishments</p>
        <em>Thus we are ESPeople Trainingsmiths</em>
        <div class="btn-row mt-4">
          <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#ourApproach">Know
            us</button>
          <!-- <button class="btn btn-secondary-outline ms-md-3">Main features</button> -->
        </div>
      </div>
      <div class="col-md-6 order-first order-md-2">
        <div id="heroCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="1500">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/images/hero-img-1.jpg" class="d-block w-100 carousel-image neumorphism " alt="First Image">
              <div class="carousel-caption d-none d-md-block bg-dark py-1 rounded-2 opacity-50">
                <h5>ESP Business</h5>
              </div>
            </div>
            <div class="carousel-item">
              <img src="/images/hero-img-2.jpg" class="d-block w-100 carousel-image neumorphism " alt="Second Image">
              <div class="carousel-caption d-none d-md-block bg-dark py-1 rounded-2 opacity-50">
                <h5>ESP Non-Profit</h5>
              </div>
            </div>
            <div class="carousel-item">
              <img src="/images/hero-img-3.jpg" class="d-block w-100 carousel-image neumorphism " alt="Third Image">
              <div class="carousel-caption d-none d-md-block bg-dark py-1 rounded-2 opacity-50">
                <h5>ESP Education</h5>
              </div>
            </div>
            <div class="carousel-item">
              <img src="/images/hero-img-4.jpg" class="d-block w-100 carousel-image neumorphism " alt="Fourth Image">
              <div class="carousel-caption d-none d-md-block bg-dark py-1 rounded-2 opacity-50">
                <h5>ESP Government</h5>
              </div>
            </div>
          </div>
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="2"></button>
            <button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="3"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- section 2 - for whom we deliver -->
<section class="beneficiaries py-8 py-md-5 px-4 px-md-0">
  <div class="container">
    <div class="row align-items-center">
      <!-- Left Section (Text) -->

      <div class="col-md-5">
        <div class="d-flex gap-3 align-items-center mb-3 justify-content-center justify-content-md-start">
          <img class="icon " src="/images/clientele.jpeg" alt="clientele img">
          <h4>Our Beneficiaries</h4>
        </div>
        <div class="text-box p-4  rounded-3 mt-4 ">
          <h3 class="title">Whom we empower with ESP learning solutions?</h3>
        </div>
      </div>

      <!-- Right Section (Cards) -->
      <div class="col-md-7 mt-4 mt-md-0">
        <div class="row g-3">
          <div class="col-md-6">
            <div class="beneficiary-card d-flex flex-column py-4">
              <i class="fa-solid fa-business-time"></i>
              <!-- <img src="/images/Business-Organization.png" alt="Business-Organization img"> -->
              <!-- <img src="/images/ESP-Business.png" alt="ESP Business"> -->
              <h4 class="mt-auto">ESP Business</h4>
            </div>
          </div>
          <div class="col-md-6">
            <div class="beneficiary-card d-flex flex-column py-4">
              <i class="fa-solid fa-building-ngo"></i>
              <!-- <img src="/images/Non-Profit-Organizations.png" alt="Non-Profit-Organizations img"> -->
              <!-- <img src="/images/ESP-NonProfit.png" alt="ESP Non-Profit"> -->
              <h4 class="mt-auto">ESP Non-Profit</h4>
            </div>
          </div>
          <div class="col-md-6">
            <div class="beneficiary-card d-flex flex-column py-4">
              <i class="fa-solid fa-user-graduate"></i>
              <!-- <img src="/images/Educational-Institutions.png" alt="Educational-Institutions img"> -->
              <!-- <img src="/images/ESP-Education.png" alt="ESP Education"> -->
              <h4 class="mt-auto">ESP Education</h4>
            </div>
          </div>
          <div class="col-md-6">
            <div class="beneficiary-card d-flex flex-column py-4">
              <i class="fa-solid fa-landmark"></i>
              <!-- <img src="/images/Government-Organizations.png" alt="Government-Organizations img"> -->
              <!-- <img src="/images/ESP-Government.png" alt="ESP Government"> -->
              <h4 class="mt-auto">ESP Government</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- sec 3 - clientele brief -->
<section id="clientele" class="industry-section py-8 py-md-5 px-4 px-md-0">
  <!-- Page Title -->
  <!-- <h2 class="section-title text-center mb-5">Clientele Beneficiaries</h2> -->

  <!-- Business Organizations -->
  <div class="business-section py-5">
    <div class="container">

      <div class="row align-items-center">

        <div class="col-md-6 order-md-1">
          <h3 class="industry-title mt-3 mt-md-0">ESP Business</h3>
          <hr>
          <h4>Learning Solutions</h4>
          <p><em>We deliver transformative, contemporary People Developmental Learning for desired results. </em>
            <br><br>
            Which will enhance executive & managerial productivity with leadership optimization for your organization.
            <br><br>
            Thus facilitating desired organizational ranking within your industry through your people.
          </p>
          <div class="d-flex gap-3 align-items-center">
            <a href="/clientele-beneficiaries/business" class="btn btn-secondary">Know More</a>
            <a href="" class="btn btn-secondary-outline">Video</a>
          </div>

        </div>
        <div class="col-md-6 order-first">
          <img src="/images/business-icon.png" alt="Business Icon" class="industry-icon neumorphism">
        </div>
      </div>
    </div>

  </div>

  <!-- Non-Profit Organizations -->
  <div class="nonprofit-section py-5">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 order-first">
          <img src="/images/nonprofit-icon.png" alt="Non-Profit Icon" class="industry-icon neumorphism">
        </div>
        <div class="col-md-6">
          <h3 class="industry-title mt-3 mt-md-0">ESP Non-Profit</h3>
          <hr>
          <h4>Learning Solutions</h4>
          <p><em>Our learning solutions are different, unique & transformative for non profits.</em> <br><br> Their
            service dream to beneficiaries is the epitome in our solutions. Their cause & crusade, high degree of
            resilience, constant challenging learning needs, endless passion to seek help, develop immunity in rejection
            environs, constantly networking for volunteers to support social cause etc, are configured as prime important in our learning solutions
          </p>
          <div class="d-flex gap-3 align-items-center">
            <a href="/clientele-beneficiaries/ngo" class="btn btn-secondary">Know more</a>
            <a href="" class="btn btn-secondary-outline">Video</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Blob Shape -->
    <div class="blob-shape"></div>
  </div>

  <!-- Education Sector -->
  <div class="education-section py-5">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 order-first">
          <img src="/images/education-icon.png" alt="Education Icon" class="industry-icon neumorphism">
        </div>
        <div class="col-md-6 order-md-1">
          <h3 class="industry-title mt-3 mt-md-0">ESP Education</h3>
          <hr>
          <h4>Learning Solutions</h4>
          <p><em>We empower educators and students to innovate & collaborate, fostering growth-oriented learnings in the journey towards academic excellence.</em></p>
          <p>
            Beneficiaries are students, faculty & academic leaders in schools, polytechnics, colleges & universities.
          </p>
          <p>Thus, ESPeople develop the next generation of youth for tomorrow's nation.</p>
          <div class="d-flex gap-3 align-items-center">
            <a href="/clientele-beneficiaries/education" class="btn btn-secondary">Know more</a>
            <a href="" class="btn btn-secondary-outline">Video</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Blob Shape -->
    <div class="blob-shape"></div>
  </div>
  <!-- Government Organizations -->
  <div class="government-section py-5">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 order-first">
          <img src="/images/government-icon.png" alt="Government Icon" class="industry-icon neumorphism">
        </div>
        <div class="col-md-6 order-md-2">
          <h3 class="industry-title mt-3 mt-md-0">ESP Government</h3>
          <hr>
          <h4>Learning Solutions</h4>
          <!-- <p>We align & train government teams to work towards efficient, transparent, good governance for impactful
            public service in the process of nation building</p> -->
          <p>Besides we can join hands with the governance team to successfully create awareness, alignment with various
            stack holders and public in connection with various programs & projects government sets as a priority goals
            for nations growth & development</p>
          <div class="d-flex gap-3 align-items-center">
            <a href="/clientele-beneficiaries/government-organizations" class="btn btn-secondary">Know more</a>
            <a href="" class="btn btn-secondary-outline">Video</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<!-- sec 4 - evolution -->
<section class="evolution-vision-mission px-4 px-md-0">
  <div class="container">
    <div class="row">
      <!-- Evolution Section -->
      <div class="col-md-5 me-auto evolution-section" data-aos="fade-right">
        <h2 class="evolution-title">The Evolution of ESPeople</h2>
        <p>
          Every great organisation starts with a dream—a vision for achieving excellence.
          But to turn that vision into reality, you need the right people who have the energy
          and ability to make things happen. That's where ESPeople come in. We partner with
          organisations to develop and empower their teams, helping them turn their original
          dream into reality and inspire new heights of success.
        </p>
        <!-- <a href="#about-us" class="btn btn-dark mt-4">About us</a> -->
      </div>
    <!-- </div> -->
    <!-- Divider -->
    <!-- <div class="row "> -->
    <div class="col-md-2 mx-auto d-none d-md-block">
          <div class="vertical-divider"></div>
        </div>
    <!-- </div> -->

    <!-- <div class="row mt-4 mt-md-0"> -->
      <!-- Vision & Mission Section -->
      <div class="col-md-5 ms-auto vision-mission-section" data-aos="fade-left">
        <h2 class="evolution-title">ESP Vision & Mission</h2>
        <p class="vision">
          <strong>Energize & Synergize People</strong> capabilities through effective learning interventions
        </p>
        <p class="mission">
          <strong>Be a best training service provider in enabling people</strong>
        </p>
        <ul>
          <li>To maximize their energy &</li>
          <li>To effectively employ it in synergy with their team</li>
          <li>Towards attaining organizational goals achievement</li>
        </ul>
      </div>
    <!-- </div> -->
  </div>
  </div>
</section>

<!-- esp core belief and learning model -->
<section class="why-choose-us py-8 py-md-5">
  <div class="container text-center">
    <!-- Title -->
    <h2 class="section-title mb-5">What Sets Us Apart</h2>

    <div class="row justify-content-center">
      <!-- Card 1: Our core belief -->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="neumorphic-card">
          <img src="/images/tyndal-effect.jpeg" alt="Philosophy img">
          <h4 class="mt-3">Our Core Belief</h4>
          <p class="mt-3">Love people for who they are instead of judging them for what they are not....<br> <br>Essence
            is, accept people as they are! <br><br> Bridge the gap in required knowledge, skills, and practices which
            are appropriate to their aspirational growth goals</p>
        </div>
      </div>

      <!-- Card 2: ESP Learning Model -->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="neumorphic-card">
          <img src="/images/learning-model.png" alt="learning model">
          <h4 class="mt-3">The ESP Learning Model</h4>
          <ul>
            <li><strong>Awareness</strong> – Learning begins with creating a sense of awareness about the situation.
            </li>
            <li><strong>Understanding</strong> – This is further enhanced by the resource person, helping the individual
              gain a greater clarity of their situation.</li>
            <li><strong>Learning</strong> – Understanding facilitates better learning by enabling the individual to see
              its real-world application.</li>
            <li><strong>Realisation</strong> – As realization unfolds, the individual is now able to perceive their
              situation in its entirety.</li>
            <li><strong>Habitualisation</strong> – An environment is created within the individual to internalize and
              habitualize the learned skill or behavior.</li>
          </ul>
        </div>
      </div>
      <!-- card 3: What we deliver -->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class=" neumorphic-card">
          <img src="/images/what-we-deliver.png" alt="what we deliver">
          <h4 class="mt-3">What we deliver</h4>
          <p class="text-center text-md-start"><strong>We simply ENERGIZE your people capabilities & then SYNERGIZE them
              with their core team for high performance</strong></p>
          <em>"Thus we are ESPeople Trainingsmiths"</em>

        </div>
      </div>

      <!-- Card 3: Adapting to Change -->
      <div class="col-lg-4 col-md-6 mb-4 d-none">
        <div class="neumorphic-card">
          <img src="/images/video-call-training-2.png" alt="video-call-training-1 img">
          <h4 class="mt-3">Adapting to Change</h4>
          <p>We've adapted to the modern needs of businesses by offering virtual training. Now, you can access our
            programs via video conferencing, ensuring flexibility and ease.</p>
        </div>
      </div>
    </div>

    <!-- CTA -->
    <div class="mt-5 d-none">
      <a href="espeople.in/why-choose-us" class="btn btn-secondary">Read More</a>
    </div>
  </div>
</section>

{{ end }}