{{ define "main" }}

{{ if eq .Params.layout "about" }}
<section class="about-section px-3 py-custom gradient-bg">
  <div class="container">
    <h1 class="text-center mb-4">{{ .Title }}</h1>
    {{ range .Params.sections }}
    <div class="row align-items-center mt-5">
      <div class="col-md-6 text-content mt-5 mt-md-0">
        <h2>{{ .title }}</h2>
        <p>{{ .description }}</p>
      </div>
      <div class="col-md-6 image-content order-first order-md-2">
        <img src="{{ .image }}" alt="{{ .title }}" class="image-wrapper">
      </div>
    </div>
    {{ end }}
  </div>
</section>


{{ end }}

{{ if eq .Params.layout "clientele" }}
<section class="clientele-details px-custom">
  <div class="container my-5">
    <h1 class="text-primary text-center mb-4">{{ .Title }}</h1>
    <blockquote class="blockquote text-center">
      <p class="mb-0 fst-italic text">{{ .Params.intro_blockquote.text }}</p>
      <footer class="blockquote-footer mt-2 fst-italic">{{ .Params.intro_blockquote.footer }}</footer>
      <p class="mt-2 subtext ">{{ .Params.intro_blockquote.additional_text }}</p>
    </blockquote>
    <h2 class="text-center mt-5 mb-0 text-primary--dark">{{ .Params.intro }}</h2>
    {{ range .Params.solutions }}

    <div class="card-horizontal row align-items-center mt-5 neumorphism">
      <div class="img col-md-4">
        <img src="{{ .image | relURL }}" class="img-fluid" alt="{{ .alt }}" style="border-radius: 8px;">
      </div>
      <div class="desc col-md-8 mt-4 mt-md-0">
        <h3 class="title mb-3 text-primary">{{ .type }}</h3>
        <h6 class="text fst-italic mb-4">{{ .subtitle }}</h6>
        <p>{{ .description }}</p>
      </div>
    </div>
    {{ end }}
    <hr class="bg-accent">

    <h5 class="text-center">Brochures</h5>
    <div class="d-flex gap-4 justify-content-center my-4">
      <!-- Button to Trigger the Modal -->
      <button type="button" class="btn btn-primary mx-2" data-bs-toggle="modal" data-bs-target="#pdfModal">
        <i class="fa-regular fa-eye me-1"></i> View
      </button>

      <!-- Bootstrap Modal -->
      <div class="modal fade" id="pdfModal" tabindex="-1" aria-labelledby="pdfModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
          <!-- Adjust modal size with 'modal-xl' for large content -->
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="pdfModalLabel">Brochure</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <!-- Embed PDF in an iframe -->
              <iframe src="https://drive.google.com/file/d/{{ .Params.brochure.FILE_ID }}/preview" width="100%"
                height="500px" style="border: none;">
              </iframe>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>


      <a href="{{ .Params.brochure.download_link | relURL }}" download class="btn btn-primary--outline mx-2"><i
          class="fa-solid fa-download me-1"></i> Download</a>
    </div>
  </div>
</section>
{{ end }}

{{ if eq .Params.layout "other" }}
<section class="cards-section py-custom">
  <div class="container">
    <h2 class="text-light text-center mb-5">{{ .Title }}</h2>
    <div class="row">
      {{ range .Params.services }}
      <div class="col-md-4 mb-4">
        <div class="card-custom p-4">
          <div class="d-flex align-items-center">
            {{ if .icon }}
            <span class="icon me-3">{{ .icon }}</span>
            {{ else if .image }}
            <img src="{{ .image }}" alt="{{ .subheading }}" class="me-3" />
            {{ else if .fa_icon }}
            <span class="fa {{ .fa_icon }} icon me-3"></span>
            {{ end }}
            <h5 class="subheading mb-1">{{ .subheading }}</h5>
          </div>
          <p class="desc mt-3">{{ .desc }}</p>
          {{ if .benefits }}
          <ul class="benefits mt-2">
            {{ range .benefits }}
            <li>{{ . }}</li>
            {{ end }}
          </ul>
          {{ end }}
        </div>
      </div>
      {{ end }}
    </div>
    {{ if .Params.brochure }}
    <div class="d-flex gap-4 justify-content-center my-4">
      <!-- Button to Trigger the Modal -->
      <button type="button" class="btn btn-primary mx-2" data-bs-toggle="modal" data-bs-target="#pdfModal">
        <i class="fa-regular fa-eye me-1"></i> View
      </button>

      <!-- Bootstrap Modal -->
      <div class="modal fade" id="pdfModal" tabindex="-1" aria-labelledby="pdfModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
          <!-- Adjust modal size with 'modal-xl' for large content -->
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="pdfModalLabel">Brochure</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <!-- Embed PDF in an iframe -->
              <iframe src="https://drive.google.com/file/d/{{ .Params.brochure.FILE_ID }}/preview" width="100%"
                height="500px" style="border: none;">
              </iframe>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <a href="{{ .Params.brochure.download_link | relURL }}" download class="btn btn-primary--outline mx-2"><i
          class="fa-solid fa-download me-1"></i> Download</a>
    </div>
    {{ end }}
  </div>
</section>
{{ end }}

{{ if eq .Params.layout "contact" }}
<section class="contact-section">
  <div class="container p-5">
    <div class="text-center  mb-5">
      <h1 class="display-5">Get in Touch to Unlock Your Business Potential</h1>
      <p class="fst-italic">
        {{ .Description }}
      </p>
    </div>
    <div class="row">
      <div class="col-md-5 contact-left-bg px-0">
        <div class="contact-info p-4">
          <h4 class="mb-0 ">{{ .Params.contact_info.heading }}</h4>
          <hr>

          <h5 class="mb-1">{{ .Params.contact_info.name }}</h5>
          <p class="fst-italic">{{ .Params.contact_info.designation }}</p>
          <hr>

          <h6 class="mb-1">Mobile #:</h6>
          <a class="" href="{{ .Params.contact_info.mobile_link }}">{{ .Params.contact_info.mobile }}</a>
          <hr>

          <h6 class="mb-1">Email:</h6>
          <a class="" href="{{ .Params.contact_info.email_link }}">{{ .Params.contact_info.email }}</a>
          <hr>

          <h6 class="mb-1">Address:</h6>
          <p class="fst-italic mb-0 small">{{ .Params.contact_info.address_1.label }}:</p>
          <address>{{ .Params.contact_info.address_1.address }}</address>
          <hr>

          <p class="fst-italic mb-0 small">{{ .Params.contact_info.address_2.label }}:</p>
          <address>{{ .Params.contact_info.address_2.address }}</address>
        </div>
      </div>
      <div class="col-md-7 mt-4 mt-md-0 px-0">
        <form id="contact" name="contact" method="POST" action="/thank-you" netlify class="contact-form ps-md-5">
          <h3 class="mb-4 ">Contact Form</h3>
          <div class="row g-3">
            <div class="col-md-6">
              <label for="name" class="form-label ">Your Name</label>
              <input type="text" id="name" class="form-control" placeholder="Enter your name" name="Name" required>
            </div>
            <div class="col-md-6">
              <label for="mobile" class="form-label ">Your Mobile Number</label>
              <input type="tel" id="mobile" minlength="10" maxlength="10" class="form-control"
                placeholder="Enter your mobile number" name="Mobile No." required>
            </div>
            <div class="col-md-6">
              <label for="email" class="form-label ">Email Address</label>
              <input type="email" id="email" class="form-control" placeholder="abc@email.com" name="Email id" required>
            </div>
            <div class="col-md-6">
              <label for="subject" class="form-label ">Subject</label>
              <input type="text" id="subject" class="form-control" placeholder="Enter the subject" name="Subject"
                required>
            </div>
          </div>
          <div class="mt-3">
            <label for="message" class="form-label ">Your Message</label>
            <textarea id="message" class="form-control" rows="5" placeholder="Enter your message" name="Message"
              required></textarea>
          </div>
          <div class="mt-4">
            <button type="submit" class="btn btn-accent" aria-label="Send Message button">Send Message</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ if eq .Params.layout "thank" }}
<section class="gradient-bg py-custom">
  <div class="container text-center">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="card shadow-lg p-4">
          <div class="card-body">
            <h1 class="display-4 text-success mb-4">Thank You!</h1>
            <p class="lead">We appreciate your enquiry and will get back to you as soon as possible.</p>
            <hr class="my-4">
            <p>If you need immediate assistance, feel free to call us
              <a class="nav-link phone-link" href="tel:+919962006364" title="tap to call mobile"
                aria-label="tap to call mobile">9962006364</a>
            </p>
            <!-- Link to go back to the previous page -->
            <a class="nav-link text-primary" href="javascript:history.back()" title="Back to previous page"
              aria-label="Back to previous page">Back to previous page</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ if eq .Params.layout "downloads" }}

<section class="downloads min-vh-50 py-5">
  <div class="container download-container">
    <div class="col-12">
      <h2>{{ .Title }}</h2>
    </div>
    {{ range .Params.pdfs }}
    <div class="download-item">
      <a href="{{ .path }}" class="download-link" download>
        <i class="fa {{ .icon }}"></i> {{ .name }}
      </a>
    </div>
    {{ end }}
  </div>
</section>
{{ end }}

{{ if eq .Params.layout "normal" }}
<section class="normal gradient-bg text-light py-custom px-3 px-md-0">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="{{ .Params.image }}" alt="{{ .Name }}" class="img-fluid">
      </div>
      <div class="col-md-6 mt-4 mt-md-0">
        <h3>{{.Params.title}}</h3>
        <p>{{.Content}}</p>
      </div>
    </div>
  </div>
</section>

{{ end }}

{{ end }}