@import '../abstracts/variables';
$background-clr: #fffceb;

// about
.about-section {
  // padding: 3rem;
  background-color: $background-clr;

  .image-content {
    display: flex;
    justify-content: center;

    .image-wrapper {
      position: relative;
      background-color: $primary-clr--light;
      padding: 1rem;
      clip-path: polygon(50% 0%, 100% 35%, 82% 100%, 18% 100%, 0% 35%);
      width: 300px;

      @media(min-width:768px) {
        transform: rotate(-10deg);

      }
    }
  }
}

