@import '../abstracts/variables';
$blob: #ffc10586;

.hero-clientele {
    background: $primary-clr no-repeat center/cover;
    background-blend-mode: overlay;
    color: white;
    min-height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-inline: 5rem;
    h1{
        margin: 0;
    }
    .hero-title {
        // font-size: 2.5rem;
    }
    &.business{
        background-image: url(/images/manufacturing-business.jpg);
    }
    &.non-profit{
        background-image: url(/images/non-profit-bg.jpg);

    }
    &.education{
        background-image: url(/images/education-img-1.jpeg);
    }
    &.government{
        background-image: url(/images/government-org.jpeg);
    }
    &.focussed{
        background-image: url(/images/homemaker.jpg);
    }
    &.other{
        background-image: url(/images/outbound-training.webp);
    }
}

.intro-section {
    background-color: $primary-clr--light;
    min-height: 40vh;

    p {
        max-width: 600px;
        margin: auto;
        // color: $secondary-clr;
    }
}

.learning-solutions {
    background-color: white;

    .solution-box {
        padding: 1rem;
        // background: linear-gradient(135deg, $primary-clr--light, white);
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-bottom: 2rem;

        h4 {
            // color: $primary-clr;
        }
    }
}

.rtt-section {
    background-color: $primary-clr--dark;
    color: white;

    .top-training-modules {
        list-style: none;
        padding: 0;

        li {
            padding: 0.5rem 0;
        }
    }
}

.ctdd-section {
    background: linear-gradient(135deg, $primary-clr, $primary-clr--light);
    color: white;

    h3 {
        color: $accent-clr;
        font-family: $font-daniel;
    }
}



.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 0.6s ease-out forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.blob {
    background: url('/images/blob.svg') no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width:  100%;
    height: 100%;
    animation: blobMovement 10000ms infinite ease-in-out;
    overflow-x: hidden;
    @media(max-width:768px){
        width: 50%;
    }
  }
  
  @keyframes blobMovement {
    0% { transform:   translateX(0); }
    50% { transform:  translateX(40%); }
    100% { transform: translateX(0); }
  }
  


  .services-section {
    background: rgb(10,27,36);
    background: linear-gradient(84deg, rgba(10,27,36,1) 51%, rgba(0,64,128,1) 100%);
  
    .col-md-4:nth-child(odd) .service-card {
        background: linear-gradient(135deg, $primary-clr 60%, $secondary-clr 100%);
        color: $text-light-clr;
    }
  
    .col-md-4:nth-child(even) .service-card {
        background: linear-gradient(135deg, $secondary-clr 60%, $primary-clr 100%);
        color: $text-light-clr;
    }

    .service-card {
        border-radius: 10px;
        color: $text-light-clr;
        box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.2), 
                   -8px -8px 15px rgba(255, 255, 255, 0.7); // Neumorphic shadow
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        min-height: 280px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &:hover {
            transform: translateY(-10px);
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
            box-shadow: 12px 12px 20px rgba(0, 0, 0, 0.3), 
            -12px -12px 20px rgba(255, 255, 255, 0.8); // Change shadow on hover
        }

        .service-title {
            font-weight: 600;
            transition: color 0.3s ease, transform 0.3s ease;

            &:hover {
                color: $accent-clr; // Define your hover color variable
                transform: translateX(5px); // Move slightly to the right
            }
        }

       h3, p {
            // margin-top: 10px;
            margin: 0;
        }
p{
    line-height: 1.6;
}
        i {
            font-size: 3rem; // Increase icon size
            transition: transform 0.3s ease;

            &:hover {
                transform: scale(1.1); // Slightly enlarge icon on hover
            }
        }
    }
}