<footer class="footer">
    <div class="container text-center">
        <div class="footer-logo">
            <img src="/images/logo.png" alt="ESPeople Logo" class="logo-img">
        </div>
        <ul class="nav justify-content-center">
            <!-- home -->
             <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
             </li>
            <li class="nav-item">
                <a class="nav-link" href="/about/about-espeople">About ESPeople</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about/esp-approach">ESP Approach</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/clientele-beneficiaries/esp-focussed-individuals">ESP Focused individuals</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/other-learning-and-development-services/">Other L&D</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/kadigai">ESP Kadigai</a>
            </li>
            <!-- contact us -->
             <li class="nav-item">
                <a class="nav-link" href="/contact-us">Contact Us</a>
             </li>
        </ul>

        <div class="social-icons mt-3">
            <a href="https://x.com/EspSmiths" target="_blank" rel="noopenner" class="social-link"><i class="fab fa-x-twitter"></i></a>
            <!-- <a href="#" class="social-link"><i class="fab fa-facebook"></i></a> -->
            <a href="https://www.instagram.com/esptrainingsmiths/" target="_blank" rel="noopenner" class="social-link"><i class="fab fa-instagram"></i></a>
            <!-- youtube -->
            <!-- <a href="#" class="social-link"><i class="fab fa-youtube"></i></a> -->
            <!-- linkedin -->
            <!-- <a href="#" class="social-link"><i class="fab fa-linkedin"></i></a> -->
        </div>

        <p class="footer-copyright">
            © 2024 ESPeople. All rights reserved. Sketched with <i class="fa fa-heart" aria-hidden="true"></i> by <a
                href="https://www.tensketch.com/" title="TenSketch website">TenSketch</a>
        </p>
    </div>
</footer>